@{
    ViewData["Title"] = "Login and Registration Page";
}
<div class="dashboard-container">
    <div class="topbar">
        <a asp-controller="BlackBelt" asp-action="Logout"><button class="btn btn-default btn-xs logout-btn">Logout</button></a>
    </div>
    <hr>
    <h3 class="form-center-title">Some Table</h3>
    <form action="/checkTime" method="POST">
        Select a time:
        <input type="time" name="timeEntered">
        <input type="submit" value="CheckTime">
    </form>
    <h1>@ViewBag.Time</h1>
</div>